@model IEnumerable<POS1.Models.Account>

@{
    ViewBag.Title = "Account";
}

<h2>Account</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="fresh-datatables">
    <table id="fresh-datatables" class="table table-striped table-no-bordered table-hover">
        <thead>
            <tr>
                <th>Account Name</th>
                <th>Account Number</th>     
                <th>Bank Name</th>
                      
                <th class="disabled-sorting">Actions</th>
            </tr>
        </thead>
        
    </table>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        TableLoad();

    });

    function TableLoad() {
        $('#fresh-datatables').DataTable({
            "searching": true,
            "ordering": true,
            "pagingType": "full_numbers",
            "ajax": "/Account/getAccount",
            "columns": [
                { "data": "AccName" },

                { "data": "AccNum" },

                { "data": "BankName" },
            {"data": "Action"}
            ]
        });
    }
</script>